.homesImage
{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.homesMainImage
{
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#avalon0
{
    margin-left: 4%;
    margin-top: 2%;
}

#avalon1
{
    margin-left: 45%;
    margin-top: 36%;
}

#avalon3
{
    margin-left: 27%;
    margin-top: 15%;
}
#avalon4
{
    margin-left: 24%;
    margin-top: 8.5%;
}
#avalon5
{
    margin-left: 33%;
    margin-top: 16%;
}

@media only screen and (max-width: 1550px) {
    #avalon0
    {
        margin-left: 4%;
        margin-top: 2%;
    }

    #avalon1
    {
        margin-left: 47%;
        margin-top: 40%;
    }

    #avalon3
    {
        margin-left: 27%;
        margin-top: 17%;
    }
    #avalon4
    {
        margin-left: 24%;
        margin-top: 9%;
    }
    #avalon5
    {
        margin-left: 34%;
        margin-top: 17.5%;
    }
}

@media only screen and (max-width: 1410px) {
    #avalon0
    {
        margin-left: 4%;
        margin-top: 2%;
    }

    #avalon1
    {
        margin-left: 50%;
        margin-top: 43%;
    }

    #avalon3
    {
        margin-left: 29%;
        margin-top: 18%;
    }
    #avalon4
    {
        margin-left: 25%;
        margin-top: 10%;
    }
    #avalon5
    {
        margin-left: 36%;
        margin-top: 19%;
    }
}