.profileBox
{
    background-color: #187cb8;
    width: 1300px;
    clip-path: polygon(100% 0,100% 75%,80% 100%,0 100%,0 0);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 91.5px;
    padding-bottom: 91.5px;
}

.profileInnerBox
{
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    width: 100%;
    color: white;
}

.profileInfoBox
{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 15vh;
}

.profileMargin
{
    margin: 10px;
}

#profileLighterFont
{
    font-weight: normal;
}

.profileImage
{
    height: 300px;
    width: 237.5px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}